.googleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background: #4385f4;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  cursor: pointer;
  margin: 10px;
}

.googleContainer img {
  width: 15%;
  height: 100%;
  background-color: white;
  object-fit: contain;
  left: 10px;
  border-radius: 3px;
  position: absolute;
}

.githubContainer {
  background: rgb(56, 56, 56);
}

.twitterContainer {
  background: #0082f4;
}

.loginForm {
  max-width: 600px;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.loginPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
