* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #263238;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.profileBasket {
  text-align: center;
  border-style: outset !important;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5rem 2.5rem;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar-sticky {
  background: #263238;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

.navbar--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar--logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  animation: rotate 0.7s ease-in-out 0.5s;
}

.navbar--link {
  display: flex;
  list-style: none;
}

.navbar--link-item {
  margin: 0.4rem 1rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}
/* Welcome */
.welcome {
  background-color: #263238;
 
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.8;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.welcome--logo {
  width: 10rem;
}

.welcome--about {
  padding: 2rem;
  width: 50rem;
  color: #444;
  text-align: justify;
  margin: auto;
}

.welcome__cta-primary {
  background: #e74c3c;
  color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}




/* 
.modal {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
} */

/* 
body {
  background-image: url('https://wallpapercave.com/wp/wp2337006.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
} */